@import "tailwindcss";

@theme {
    --font-montserrat: "Montserrat", "serif";
    --font-playfair: "Playfair", "serif";
    --font-poppins: "Poppins", "serif";
  }


  @layer utilities {
    .clip-polygon {
      clip-path: polygon(0 15%, 100% 29%, 100% 34%, 0 34%);
    }
  }